<div>
	<form>
		<input type="text" ng-model='filter_name' placeholder="search name..."></input>
		<input type="submit" value="Search Name"></input>
	</form>
	<div id='products'>
		<img src="/static/images/shoe.jpg" width="200px">
			<p>Nike Shoes</p>
			<p>quantity</p>
		<img src="/static/images/amazon_kindle.jpg" width="200px">
			<p>Amazon Kindle</p>
		<img src="/static/images/black-belt.jpg" width="200px">
			<p>Black Belt</p>
					<img src="/static/images/ice_cream.jpg" width="200px">
			<p>Ice Cream</p>
					<img src="/static/images/board_game.jpg" width="200px">
			<p>Board game</p>
		<a href="#/products">Show More...</a>
	</div>
	<div id='orders'>
		<h2>Recent Orders</h2>
		<p>ORDERS</p>
		<a href="#/orders">Show more orders...</a>
	</div>
	<div id='customers'>
		<h2>New Customers</h2>
		<p>CUSTOMERS</p>
		<a href="#/customers">Show more customers...</a>
	</div>
</div>